---
cloudControllerManager:
  clusterCIDR: {{ $.PodsCidr }}
  configureCloudRoutes: false
  imageRepository: {{ if $.Private }}{{ $.KeosRegUrl }}{{ else }}mcr.microsoft.com{{ end }}/oss/kubernetes
  replicas: 2
cloudNodeManager:
  imageRepository: {{ if $.Private }}{{ $.KeosRegUrl }}{{ else }}mcr.microsoft.com{{ end }}/oss/kubernetes
infra:
  clusterName: {{ $.ClusterName }}
