autoDiscovery:
  clusterName: {{ cluster_name }}
  labels:
  - namespace: cluster-{{ cluster_name }}
  roles:
  - worker
  tags:
  - k8s.io/cluster-autoscaler/enabled
  - k8s.io/cluster-autoscaler/{{ cluster_name }}
cloudProvider: clusterapi

image:
  repository: {{ registry if private else 'registry.k8s.io' }}/autoscaling/cluster-autoscaler
replicaCount: 2
