args:
- --cloud-provider=gce
- --leader-elect=true
- --use-service-account-credentials
- --allocate-node-cidrs=true
- --cluster-cidr={{ $.PodsCidr }}
- --v=2
- --cloud-config=/etc/kubernetes/gce.conf

image:
  registry: {{ if $.Private }}{{ $.KeosRegUrl }}{{ else }}gcr.io{{ end }}
  repository: k8s-staging-cloud-provider-gcp/cloud-controller-manager
  tag: release-1.30