app:
    replicas: 0
    containers:
        controllerManager:
            image:
                registry: {{ registry}}
                repository: stratio/cluster-operator
                tag: {{ cluster_operator_version }}
        kubeRbacProxy:
            image: {{ registry if private else 'gcr.io/kubebuilder' }}/kube-rbac-proxy:v0.15.0
provider: {{ provider }}
{%- if provider == 'aws' %}
secrets:
    common:
        credentialsBase64: {{ credentials }}
{%- endif %}