args:
- --v=2
- --cloud-provider=aws
- --cluster-cidr={{ pods_cidr }}
- --cluster-name={{ cluster_name }}

# https://github.com/projectcalico/calico/issues/8453
hostNetworking: true

image:
  # si private es true, se usa el registry de keos
  repository: {{ registry if private else 'registry.k8s.io' }}/provider-aws/cloud-controller-manager
  tag: v1.30.1